<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>ToDo Using AngukarJS</title>
    <link href="https://fonts.googleapis.com/css?family=Mogra" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="main.css">

</head>

<body ng-app="todoApp" ng-controller="todoCtrl">

    <section class="container">
        <h1 class="text-center">AngularJS ToDo App</h1>
        <form class="text-center" ng-submit="addToList()">
            <input type="text" name="todo" id="todoInput" placeholder="Enter Here" ng-model="todoVal">
            <button type="submit" id="btn">Add</button>
        </form>
        <div class="itemContainer">
            <div class="itemHolder fade-in" ng-repeat="todo in todoList">
                <input type="checkbox" class="check" ng-model="todo.marked" ng-click="toggleMark(todo)"><span>{{todo.todoText}}</span>
                <i class="fa fa-times-circle-o close" aria-hidden="true" ng-click="close(todo)"></i>
                <!--                <div class="close">REMOVE</div>-->
            </div>
        </div>
    </section>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="todo.js"></script>

</body>

</html>